h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hsl(212, 50%, 50%);
}

body {
    background-image: url('4853433.jpg');
}

p {
    margin: 2rem 1rem;
}

.profile {
    border: 1rem solid hsl(213, 16%, 89%)
}

h1 {
    margin: 1rem 0;
}

li {
    display: inline-block;
}

.contact {
    float: right;
    margin-right: 1rem;
}

.nav {
    position: sticky;
}
