body {
    background-image: url('4853433.jpg');
}

.profile {
    border: 1rem solid hsl(213, 16%, 89%)
}

header {
    background-color: hsl(286, 63%, 22%);
    position: sticky;
    top:0%;
}

.jumbotron {
    background-image: url('starry.jpg');
    opacity: 0.8;
}

.jumbotron .container .row{
    color: hsl(0, 0%, 100%);
}

.container {
    text-align: justify;
}

footer {
    color: hsl(0, 0%, 100%);
    background-color: black;
    display: inline-block;
    width: 2em;
}

footer div p {
    font-size: 75%;
}

#about-link {
    color: hsl(60, 100%, 50%);
}

/* latin */
@font-face {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/fredokaone/v13/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
 
  @font-face {
    font-family: 'Kameron';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/kameron/v15/vm82dR7vXErQxuzngLk6Lg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
    font-family: 'Fredoka One', cursive, Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-family: 'ZCOOL Kuaile', cursive, Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Kameron', serif;
}

iframe {
    margin: 1em auto;
}
