body {
    background-image: url('4853433.jpg');
}

.profile {
    border: 1rem solid hsl(213, 16%, 89%)
}

header {
    background-color: hsl(286, 63%, 22%);
    position: sticky;
    top:0%;
}

.jumbotron {
    background-image: url('starry.jpg');
    opacity: 0.8;
}

.jumbotron .container .row{
    color: hsl(0, 0%, 100%);
}

.container {
    text-align: justify;
}
