body {
    background-image: url('4853433.jpg');
}

.profile {
    border: 1rem solid hsl(213, 16%, 89%)
}

header {
    background-color: hsl(286, 63%, 22%);
    position: sticky;
    top:0%;
}

.jumbotron {
    background-image: url('starry.jpg')
    color: hsl(0, 0%, 100%);
    opacity: 0.2;
}

.container {
    text-align: justify;
}
