html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.container {
    display: flex;
}

header {
    position: fixed;
    top: 0px;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    background-color: black;
}

nav {
    justify-content: space-between;
}

nav img {
    margin: auto 10px;
    height: 50px;
    width: 150px;
}

nav ul li {
    text-decoration: underline;
    list-style: none;
    display: inline;
    margin: 0 1rem;
}

jumbotron {
    background-image: url('images/img-mission-background.jpg');
    height: 700px;
    width: 1200px;
    margin: 69px auto;
    justify-content: center;
    align-items: center;
}

jumbotron .child {
    text-align: center;
    width: 100%;
    background-color: black;
}

.wording {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.tea {
    width: 1000px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto;
}

.tea div img {
    width: 300px;
    height: 200px;
}

.tea div h4 {
    margin-top: 10px;
}

.location {
    background-image: url('images/img-locations-background.jpg');
    width: 1200px;
    height: 700px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.location .heading {
    width: 1200px;
    text-align: center;
    margin-bottom: 15px;
}

.location .child {
    width: 300px;
    background-color: black;
    text-align: center;
    margin: 15px 40px;
    opacity: 1;
}

footer {
    text-align: center;
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}

#copyright {
    text-align: left;
    margin-left: 20px;
}