* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center
}

.container {
    display: flex;
}

header {
    position: fixed;
    top: 0px;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
}

nav.container {
    justify-content: space-between;
}

nav figure {
    margin-left: 10px;
    height: 50px;
    width: 80px;
}

nav ul {
    text-decoration: underline;
    list-style: none;
    width: fit-content;
}

jumbotron {
    background-image: url('img-mission-background.jpg');
    height: 7000px;
    width: 1200px;
    margin: 69px auto;
    justify-content: center;
    align-items: center;
}

jumbotron .child {
    text-align: center;
}

.wording {
    width: 1000px;
    text-align: center;
}

.tea {
    width: 1000px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.tea figure {
    width: 300px;
    height: 200px;
}

.location {
    background-image: url('img-locations-background.jpg');
    width: 1200px;
    height: 500px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.location .heading {
    width: 1200px;
    text-align: center;
    margin-bottom: 15px;
}

.location .child {
    width: 300px;
    background-color: black;
    text-align: center;
    margin-left: 40px;
    opacity: 1;
}

footer {
    text-align: center;
    width: 1200px;
    height: 200px;
}

#copyright {
    text-align: left;
    margin-left: 20px;
}
